/build/mac
/build/win
/build/ios
/lib/debug
/lib/release
/bin/debug
/bin/release
/src/platform/android/app/src/main/assets
/src/gameSrc/luaClientPort.cpp
/src/gameSrc/protocgen
log.txt
/myEngine/editor/build
/myEngine/editor/bin